/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
strong,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing: border-box;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border: 1px solid #ccc;
  color:#000;
  font:14px Arial, Helvetica, sans-serif;
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  text-transform:uppercase;
  font:12px Arial, Helvetica, sans-serif;
  background:transparent;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}
/* Estilização */
/* container */
.container{
    margin: 0 auto;
    max-width: 100%;
}
main, nav{width: 1110px;}
/* header */
header{
    background: #405CA3;
    justify-content: center;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
}
nav{
    align-items: center;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 68px;
}
nav ul li{
    font: 400 15px/20px Arial, Helvetica, Sans-Serif;
    letter-spacing: 0.04em;
}
/* main */
main{padding-top: 180px;}
/* h2 */
section{
    margin-bottom: 53px;
}
h2{
    font: 900 39px/35px Arial, Helvetica, Sans-Serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.conosco{
    color: #405CA3;
    padding-top: 23px;
}
/* contato */
main section:nth-child(2) a{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80px;
    letter-spacing: 0.04em;
    justify-content: center;
    padding-left: 18px;
    width: 249px;
}
main section:nth-child(2) a:first-child{
    background: #43527A;
}
main section:nth-child(2) a:nth-child(2){
    background: #405CA3;
}
main section:nth-child(2) a:last-child{
    background: #23418A;
}
/* formulário */
main section:last-child{
    display: flex;
    gap: 122px;
}
main section:last-child article:nth-child(2) p{
    font: 400 15px/18px Arial, Helvetica, Sans-Serif;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
    width: 64%;
}
form ul li:nth-child(5) input{
    height: 153px;
}
form ul li input{
    margin: 8px 0 20px;
}
form ul li label{
    color: #405CA3;
    font: 900 14px/15px Arial, Helvetica, Sans-Serif;
}
input[type="text"], input[type="tel"], input[type="email"]{
    border-radius: 2px;
    display: block;
    height: 26px;
    max-width: 534px;
}
input[type="button"]{
    background: #405CA3;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 17px 60px;
}