/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
strong,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing: border-box;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#000;
  font-family:'Work Sans';
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border: 1px solid #ccc;
  color:#000;
  font:14px 'Work Sans';
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  text-transform:uppercase;
  font:12px 'Work Sans';
  background:transparent;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}
/* Estilização */
/* container */
.container{
    margin: 0 auto;
    max-width: 100%;
}
main, nav{width: 1110px;}
/* header */
header{
    background: #405CA3;
    justify-content: center;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
}
header nav{
    align-items: center;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: space-between;
}
header nav > ul{
    display: flex;
    gap: 68px;
    position: relative;
}
nav ul li{
    display: flex;
    font: 400 15px/20px 'Work Sans';
}
header nav li:hover ul{
    background-color: #fff;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
}
header nav li ul li{
    display: none;
    margin: 10px 15px;
    width: 100%;
}
nav li:hover ul li{display: block;}
nav li ul a{color: #000;}
nav li ul a:hover{
    color: #ccc
}
.dropdown{position: relative;}
.dropdown a::after{
    content:"";
    border:solid #fff; 
    border-width:0 1px 1px 0; 
    display:inline-block; 
    padding:3px;
    position: absolute;
    top: 30%;
    margin-left: 5px;
    transform:rotate(45deg);
}
li:hover .dropdown a::after{
    transform: rotate(225deg);
}
/* main */
main{padding-top: 180px;}
/* h2 */
main section:first-child{
    margin-bottom: 53px;
}
h2{
    font: 900 39px/35px 'Work Sans';
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.conosco{
    color: #405CA3;
    display: block;
    padding-top: 23px;
}
/* contato */
main section:nth-child(2) a{
    align-items: center;
    color: #fff;
    display: flex;
    letter-spacing: 0.04em;
    padding: 31px 18px;
    min-height: 80px;
}
main section:nth-child(2) a:first-child{
    background: #43527A;
}
main section:nth-child(2) a:nth-child(2){
    background: #405CA3;
}
main section:nth-child(2) a:last-child{
    background: #23418A;
}
.whatsapp, .telefone, .mail{
    display: flex;
}
.whatsapp::before, .telefone::before, .mail::before{
    margin-right: 16px;
}
.whatsapp::before{content: url(../images/whats-icon.svg);}
.telefone::before{content: url(../images/telefone-icon.svg);}
.mail::before{content: url(../images/mail-icon.svg);}
/* formulário */
main section:last-child{
    display: flex;
    gap: 122px;
}
main section:last-child article:nth-child(2) p{
    font: 400 15px/18px 'Work Sans';
    margin-bottom: 40px;
    width: 67%;
}
textarea{
    height: 149px;
    resize: none;
}
form ul li input, textarea{
    margin: 8px 0 15px;
}
form ul li label{
    color: #405CA3;
    font: 900 14px/15px 'Work Sans';
}
input[type="text"], input[type="tel"], input[type="email"]{
    height: 26px;
}
input[type="text"], input[type="tel"], input[type="email"], textarea{
    border-radius: 2px;
    display: block;
    max-width: 534px;
}
input[type="button"]{
    background: #405CA3;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 14px 60px;
    margin-bottom: 57px;
}
/* footer */
footer{
    background: #405CA3;
    color: #fff;
}
footer nav{
    border-bottom: 1px solid rgba(216, 216, 216, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 63px 0 28px;
}
footer nav ul li{
    font-size: 13px;
    margin-top: 16px;
}
footer nav ul:first-child li:last-child ul{
    display: flex;
    gap: 10px;
    margin-top: 24px;
}
footer h3{
    font: 900 15px/20px 'Work Sans';
    margin-bottom: 30px;
    text-transform: uppercase;
}
footer nav ul:last-child li:last-child ul{
    align-items: center;
    display: flex;
    gap: 15px
}
footer p{
    font-size: 11px;
    padding: 30px 0 37px;
    text-align: center;
}
.bold{
    font-weight: bold;
    text-transform: uppercase;
}
.div{
    background-color: #090;
    right: -126px;
    padding: 13px 18px;
    position: fixed;
    top: 45%;
    transition: 0.5s ease all;
    z-index: 999;
}
.div:hover{
    right: 0;
}
.whatsapp a, .telefone a, .mail a{color: #fff;}
div .whatsapp a:hover{color: #ccc}