/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
strong,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing: border-box;
}
html{scroll-behavior:smooth;}
body{
  background:#fff;
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border-bottom:1px solid #000;
  color:#000;
  padding:8px 0;
  font:14px Arial, Helvetica, sans-serif;
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  border:1px solid #000;
  text-transform:uppercase;
  padding:10px 30px;
  color:#000;
  font:12px Arial, Helvetica, sans-serif;
  background:transparent;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}
/* Estilização */
/* container */
.container{
    margin: 0 auto;
    max-width: 100%;
}
main, nav{width: 1121px;}
/* header */
header{
    background: #405CA3;
    margin-bottom: 100px;
    justify-content: center;
}
nav{
    align-items: center;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 68px;
}
nav ul li{font: 400 15px/20px Arial, Helvetica, Sans-Serif;}
/* h2 */
section{
    margin-bottom: 53px;
}
h2{
    font: 900 39px/35px Arial, Helvetica, Sans-Serif;
    text-transform: uppercase;
}
.conosco{
    color: #405CA3;
    padding-top: 23px;
}
/* contato */
main section:nth-child(2) a{
    display: block;
}